.table-settings {
  width: 1000px;
  height: 500px;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.addrowbutton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 400px;
}

.edit-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.department-name {
  font-family: mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.team-name {
  font-family: mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
